
prune src/Extractable/Tesseract-OCR/
recursive-exclude src/Extractable/Tesseract-OCR/*
recursive-exclude src/Extractable/Tesseract-OCR/ *

include *.in
include *.py
include *.svg
recursive-include build *.py
recursive-include src *.csv
recursive-include src *.dll
recursive-include src *.exe
recursive-include src *.html
recursive-include src *.images
recursive-include src *.jar
recursive-include src *.log
recursive-include src *.md
recursive-include src *.nochop
recursive-include src *.pdf
recursive-include src *.png
recursive-include src *.py
recursive-include src *.stderr
recursive-include src *.train
recursive-include src *.traineddata
recursive-include src *.ttf
recursive-include src *.xlsx
recursive-include src *.xml


prune src/Extractable/Tesseract-OCR/
recursive-exclude src/Extractable/Tesseract-OCR/*
recursive-exclude src/Extractable/Tesseract-OCR/ *

