fonttools~=4.39.4
defusedxml~=0.7.1
Pillow~=9.5.0
deprecation~=2.1.0
extractable~=0.0.29+editable
pandas~=2.0.2
tqdm~=4.65.0
requests~=2.31.0
numpy~=1.24.3
Jinja2~=3.1.2
pytest~=7.3.1
python-dotenv~=1.0.0
setuptools~=67.8.0
torch~=2.0.1
matplotlib~=3.7.1
toolz~=0.12.0
transformers~=4.29.2
scipy~=1.10.1
svgwrite~=1.4.3
pytesseract~=0.3.10
pypdf2~=3.0.1
bs4~=0.0.1
beautifulsoup4~=4.12.2
pdf2image~=1.15.1
pdf2jpg~=1.1
Faker~=18.9.1